*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html,body {
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding: 40px 0;
}


/*Transitions*/


#hero.centered {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease 1s;
}


#hero.up {
  height: 200px;
  padding: 20px 0;
}


.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}


.form-actions a,
.form-actions button{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    min-width: 120px;
    height: 40px;
    cursor: pointer;
}


.input-card .danger-btn {
    border: 1px solid red;
    color: red;
    background-color: white;
}


.input-card .danger-btn:hover {
    background-color: red;
    color: white;
}


.csv-btn {
    border: 1px solid #333;
    color: #333;
    background-color: white;
}


.csv-btn:hover {
    background-color: #333;
    color: white;
}


.input-card {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 350px;
  text-align = center;
}


.input-card h1 {
  font-size: 22px;
  margin-bottom: 20px;
}


.input-card input,
.input-card select,
.input-card button {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 12px;
}


.input-card input:focus,
.input-card select:focus {
  outline: none;
  border-color: #4CAF50;
}


.input-card button {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}


.input-card button:hover {
  background-color: #45a049;
}


.tracker-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}


.tracker-card {
  background-color: white;
  width: 450px;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}


.tracker-card h1 {
  font-size: 22px;
  margin-bottom: 20px;
}


.tracker-card ul {
  list-style: none;
}


.tracker-card li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}


.charts-row {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 30px;
}


.chart-card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 460px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    transition: all 0.5s ease;
}


.chart-card h1 {
  font-size: 22px;
  margin-bottom: 20px;
}


.chart-card canvas {
    max-width: 250px;
    max-height: 250px;
}


#hero.up + .tracker-row,
#hero.up + .tracker-row + .chart-container {
    opacity: 1;
    transform: translateY(0);
}


.totals-card{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 1445px;
    height: 140px;
    transition: all 0.5s ease;
    text-align: center;
}


.totals-card h1 {
  font-size: 22px;
  margin-bottom: 20px;
}


@media (max-width: 768px) {

  .tracker-row {
    flex-direction: column;
    align-items: center;
  }

  .chart-container {
    flex-direction: column;
    align-items: center;
  }

  .input-card {
    width: 90%;
  }
}